.svg-desgin-student img
{
    position: absolute;
    width: 30%;
    z-index: -1;
}

.circle1 img{
   
    position: absolute;
    width: 18%;
    right: 0;
    z-index: -1;
}

.circle2 img{
   
    position: absolute;
    width: 18%;
    left:0;
    top:65%;
    z-index: -1;
}
.circle3 img{
    position: absolute;
    width: 18%;
    right: 0;
    z-index: -1;
    top:65%;
    

}


